<script type="text/javascript" src="//playertop.elpais.com/psdmedia/media/simple/js/SimpleMediaPlayer.min.js"></script>

<div id="container_video_44525" style="width:100%"></div>


<script type="text/javascript">


    (function () {
        var mediaTopEmbed = new psd.media.TopEmbed({
            "id_cuenta": "elpais",
            "id_player": "113",
            "id_media": "2019103013383328",
            "media_type": "video",
            "id_container": "container_video_44525"
        });
        var init = function () {
            mediaTopEmbed.setRatio(16, 9, true)
        };
        mediaTopEmbed.addEventListener(psd.media.TopEmbedEvent.EVENT_INI, init);
    })();


</script>