
    <style>

        /* Center website */
        .main {
            max-width: 1000px;
            margin: auto;
        }



        .row {
            margin: 10px -16px;
        }

        /* Add padding BETWEEN each column */
        .row,
        .row > .column {
            padding: 8px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            display: none; /* Hide all elements by default */
        }

        /* Clear floats after rows */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Content */
        .content {
            background-color: white;
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }

        .minititle{

            font-size: small;
        }
    </style>

<!-- MAIN (Center website) -->
<div class="main">

    <h2>PORTFOLIO</h2>

    <div id="myBtnContainer">
        <button class="btn" onclick="filterSelection('nature')"> Nature</button>
        <button class="btn" onclick="filterSelection('cars')"> Cars</button>
        <button class="btn" onclick="filterSelection('people')"> People</button>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column nature">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201911/4/20191104022505_1572831538_asset_still.png" alt="Mountains" style="width:100%">
                <h4>Mountains</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column nature">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201910/30/2019103013383328_1572439393_asset_still.png" alt="Lights" style="width:100%">
                <h4>Lights</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column nature">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201911/5/b4c12c100b2488fe40d59af405e77b51_videoStill.jpg" alt="Nature" style="width:100%">
                <h4>Forest</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>

        <div class="column cars">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201911/5/c7e58f129d14e9b5a26c077999a3f8cd_videoStill.jpg" alt="Car" style="width:100%">
                <h4>Retro</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column cars">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201911/4/20191104212734416_1572899386_video_1572899345.jpg" alt="Car" style="width:100%">
                <h4>Fast</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column cars">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201910/24/201910241166283_1571911270_asset_still.png" alt="Car" style="width:100%">
                <h4>Classic</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>

        <div class="column people">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201911/5/20191105161147689_1572966902_video_1572966906.jpg" alt="Car" style="width:100%">
                <h4>Girl</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column people">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201910/29/20191029184348_1572371501_still.jpg" alt="Car" style="width:100%">
                <h4>Man</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column people">
            <div class="content">
                <img src="https://vdmedia.elpais.com/elpaistop/201910/29/20191029190640_1572372433_still.jpg" alt="Car" style="width:100%">
                <h4>Woman</h4>
                <p class="minititle">Lorem ipsum dolor..</p>
            </div>
        </div>
        <!-- END GRID -->
    </div>

    <!-- END MAIN -->
</div>

<script>
    filterSelection("nature")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
