<div class="articulo-cuerpo" id="cuerpo_noticia" itemprop="articleBody">

    <!-- <bloque1> -->
    <section class="sumario_include izquierda" id="sumario_2|include">
        <a name="sumario_2"></a>
        <div class="sumario__interior">
            <div class="sumario-texto">
                <style>
                    @media (min-width:48.000em) {
                        .articulo_especial .articulo-cuerpo > p:first-of-type:first-letter,
                        .salida_articulo_publiespecial .articulo_especial .articulo-cuerpo > p:first-of-type:first-letter  {
                            font-size: 1.125rem!important;
                            font-weight: 100!important;
                            line-height: 180%!important;
                            float: none!important;
                            padding:0;
                            display:inline;
                            color:#444;
                        }
                    }
                </style>
            </div>
        </div>
    </section>
    <section class="sumario_include centro" id="sumario_9|include">
        <a name="sumario_9"></a>
        <div class="sumario__interior">
            <div class="sumario-texto">
                <style>
                    #sumario_8\|include {width: 100%;max-width: 640px;margin: 0 auto;}
                    #sumario_6\|foto.sumario_foto.centro .foto_w980, #sumario_5\|foto.sumario_foto.centro .foto_w980 {width: 100%;max-width: 640px;margin: 0 auto;}
                    .articulo_especial .articulo-tags, .articulo_especial .articulo-localizador, .articulo_especial .articulo-apoyos, .articulo_especial .articulo-comentarios {border-top: 0.063rem solid #666666;margin-bottom: 5.875rem;margin-left: auto;margin-right: auto;float: none;}
                    .articulo_especial .destacada img, .articulo_especial .superior img {
                        width: 100%;
                        max-width: 980px;
                        margin: 0 auto;
                    }
                    @media (min-width: 48rem){ /* 768PX */
                        .articulo_especial .articulo__contenedor {
                            max-width: none; /* quitamos el ancho al cuerpo del contenedor para que se expanda todo */
                            margin-top: 0;
                        }
                        .articulo_especial .articulo-trust,
                        .articulo_especial #compartir_inferior,
                        .articulo_especial #articulo-tags,
                        .articulo_especial .articulo-cuerpo > p,
                        .articulo_especial .articulo-cuerpo > ol,
                        .articulo_especial .articulo-cuerpo > ul,
                        .articulo_especial .articulo-cuerpo > h1,
                        .articulo_especial .articulo-cuerpo > h2,
                        .articulo_especial .articulo-cuerpo > h3,
                        .articulo_especial .articulo-cuerpo > h4,
                        .articulo_especial .articulo-cuerpo > .texto_grande,
                        .articulo-cuerpo > section:not(.sumario_include):not(.sumario_foto):not(.sumario_despiece),
                        .articulo_especial .articulo-cuerpo blockquote,
                        .articulo_especial .articulo-cuerpo .publi_luto_vertical  {
                            max-width: 40rem; /* le ponemos el ancho a los párrafos */
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .articulo-cuerpo > section.sumario_foto {
                            width: calc(100% - 10rem);
                            max-width: 57.5rem;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    @media (min-width: 62.5rem){ /* 1000PX */
                        .ocultar-escritorio {
                            display: none;
                        }
                        .ocultar-movil {
                            display: block;
                        }
                        .infografias_pestanas .ocultar-movil {
                            display: inline-block;
                        }
                        .sumario_foto img {
                            width: 100%;
                        }
                        .articulo_especial .sumario_foto.centro .foto_w980,
                        .articulo_especial .articulo__contenedor > .foto.foto_w980,
                        .articulo_especial .sumario_foto .foto {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .articulo_especial .articulo-cuerpo blockquote {
                            margin: 4.25rem auto;
                        }
                        .articulo_especial .articulo-cuerpo blockquote p:not(.autor_cita) {
                            font-size: 2.1875rem;
                            line-height: 122%;
                        }
                        .articulo-cuerpo .autor_cita { padding-top: 1.625rem; }
                        .articulo_especial .articulo-cuerpo > .texto_grande {
                            font-size: 4.375rem;
                            margin-bottom: 7rem;
                            padding: 0 3rem;
                        }
                        .articulo_especial .articulo-cuerpo > .texto_grande {
                            font-size: 1.5rem;
                            padding: 2rem 3.125rem;
                        }
                        .ocultar-movil {
                            display: none;
                        }
                        .ocultar-escritorio {
                            display: block;
                        }
                        @media (min-width:48rem){ /* 768PX */
                            .ocultar-movil {
                                display: block;
                            }
                            .ocultar-escritorio {
                                display: none;
                            }
                        }
                </style>
                <script src="//ep00.epimg.net/js/especiales/v1.x/v1.0/jquery-1.12.3.min.js"></script>
                <script>



                </script>
            </div>
        </div>
    </section>
    <p><span><span>El Gobierno ha invertido 16 meses en preparar y proceder a la exhumación de Franco.</span> <a href="//elpais.com/politica/2018/06/16/actualidad/1529162410_486351.html" target="_blank">El PAÍS adelantó esos planes el 17 de junio de 2018</a><span>, pero el pulso de la familia del dictador en los tribunales ha retrasado hasta este jueves la operación. El Supremo respondió este martes al último recurso presentado por los nietos para intentar frenar el traslado de los restos del Valle de los Caídos al cementerio de Mingorrubio. Así será el proceso, paso a paso.</span></span></p>
    <h3><span><br></span></h3>
    <h3><span>Antes de la exhumación</span></h3>
    <div id="-INTEXT" style="width: 0px; height: 0px; display: none;"><div id="google_ads_iframe_7811748//intext_0__container__" style="border: 0pt none; width: 1px; height: 1px;"></div></div><p><span>El Gobierno ha dispuesto recoger, en tres puntos distintos de Madrid, a los 22 familiares de Franco que asistirán a la exhumación. Una vez en el Valle de los Caídos todos tendrán que pasar, como los operarios, el forense, y las autoridades que estarán presentes dentro de la basílica, un detector de metales y tendrán que dejar fuera cualquier dispositivo de grabación de imagen o audio. La tumba del dictador ha sido previamente cubierta por una carpa con techo y la Guardia Civil ha realizado barridos para comprobar que no hay, en las inmediaciones, cámaras ocultas.</span></p>
    <h3>&nbsp;</h3>
    <h3>1. Exhumación</h3>
    <p>La extracción del ataúd se realiza en <strong>tres fases</strong>: apertura de la tumba, deslizado de la lápida y extracción del féretro.</p>
    <!-- <bloque1> -->


    <!-- <bloque2> -->
    <p>Dentro del ataúd, de madera, hay una caja de zinc. Dependiendo del estado en que se encuentre y según las indicaciones del forense pueden darse tres escenarios.</p>
    <!-- <bloque2> -->

    <!-- <bloque3> -->
    <h3><strong>La salida de la cripta</strong></h3>
    <!-- <bloque3> -->

    <!-- <bloque4> -->
    <p>En esos 260 metros que separan el crucero de la salida de la basílica pasarán por delante de los osarios con los restos de más de 33.800 personas enterradas y de la tumba de José Antonio Primo de Rivera.</p>
    <h3>&nbsp;</h3>
    <!-- <bloque4> -->

    <!-- <bloque5> -->
    <h3>2. El traslado a El Pardo</h3>
    <!-- <bloque5> -->

    <!-- <bloque6> -->
    <p>En los aparcamientos de la explanada del Valle de los Caídos comienza la operación para el traslado de Franco a El Pardo.</p>
    <!-- <bloque6> -->

    <!-- <bloque7> -->
    <p>Si la niebla y el viento no lo impiden, el traslado de los restos de Franco desde el Valle de los Caídos al cementerio de Mingorrubio, en el Pardo, se hará en helicóptero. Se estima que el trayecto dure entre 10 y 15 minutos.</p>
    <p><span><span>Dentro del helicóptero, acompañando los restos, estará uno de los nietos del dictador, Francis Franco, y la ministra de Jusiticia, Dolores Delgado.</span></span></p>
    <!-- <bloque7> -->

    <!-- <bloque8> -->
    <h3>3. Reinhumación</h3>
    <p>La nueva sepultura del dictador está situada en la cripta donde fue enterrada su esposa, Carmen Polo, en 1988.&nbsp;<span>El Gobierno ha invertido 39.800 euros en su acondicionamiento, ya que estaba "en mal estado", según fuentes de La Moncloa. Ha colocado nuevas rejas, una puerta blindada y sensores de movimiento.</span></p>
    <!-- <bloque8> -->

    <!-- <bloque9> -->
    <p><a title="cementerio" href="//elpais.com/elpais/2019/10/19/media/1571506038_038391.html" target="_blank">Quién es quién en el cementerio de Mingorrubio</a></p>
    <p><span><span>Una vez allí, el prior del Valle de los Caídos, Santiago Cantera, y Ramón Tejero, hijo del protagonista del 23-F, oficiarán una misa por el dictador. En ese momento el Gobierno ya no impedirá el uso de banderas u otros símbolos para los que denegó el permiso en el Valle de los Caídos. El Ejecutivo ha establecido tres anillos de seguridad en torno al panteón. Un dispositivo de la policía nacional vigilará la zona durante semanas. A partir de ese momento, las tres llaves del panteón quedarán en la delegación del Gobierno, el cementerio y Patrimonio Nacional. El Ejecutivo es el actual propietario del panteón y el que seguirá pagando su mantenimiento. Fuentes de La Moncloa aseguran que ofrecieron a la familia que lo comprara al precio tasado por metro cuadrado , pero esta se negó. El coste máximo de la exhumación y el traslado de los restos del dictador asciende a 63.000 euros.</span></span></p>
    <!-- <bloque9> -->

    <!-- <bloque10> -->
    <p class="nota_pie">Ha colaborado en este reportaje Eduardo Ortiz.</p>
    <!-- <bloque10> -->
</div>