<style>
 

.graficos {
  display: block;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 0.0625rem;
  /*width: calc(100% + 1.25rem);
  margin-left: -0.625rem;
  margin-right: -0.625rem;*/
  width: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3.125rem;
  background: #ffffff;
  overflow: hidden;
}

.graficos__inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.graficos .graficos_imagenes {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  transform: translateX(-50%);
}

.graficos .graficos_imagenes div {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
}

.graficos .graficos_imagenes div.ocultar {
  opacity: 0;
  visibility: hidden;

}

.graficos.fija .graficos_imagenes {
  position: fixed;
}

.graficos.absoluta .graficos_imagenes {
  position: absolute;
  top: auto;
  bottom: 0;
}

.graficos .graficos_imagenes img {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2.5rem);
  max-width: 42rem;
}

.graficos .graficos_imagenes .graficos_imagenes_1 img {
  width: 21rem;
}

.graficos.fija .graficos_imagenes .graficos_imagenes_1 img {
  /*right: 0;*/
}

.graficos_textos {
  position: relative;
  z-index: 2;
  text-align: center;
}

.graficos_textos div {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: left;
}

.graficos_textos h2 {
  color: black;

  font-weight: 100;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 110%;
  display: block;
  margin-bottom: 1.25rem;
  max-width: 24rem;
}

.graficos_textos p {
  color: #444;

  font-weight: 100;
  font-style: normal;
  font-size: 1.025rem;
  line-height: 130%;
  display: block;
  max-width: 24rem;
  max-width: none;
  background-color: white;
  padding: 5%;
  margin-top: 60vh;
}

.graficos_textos p span {
  color:#EC6D70; font-weight: 900;
}

.graficos_textos p strong {
  font-weight: 900;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 0.625rem;
}


.graficos .graficos_imagenes .graficos_imagenes_1 img {
  z-index: 999;
}

    
@media screen and (max-width: 769px){

  .graficos .graficos_imagenes img {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 2.5rem);
    max-width: 42rem;
    top: 50%;
  }
}




@media (max-width: 37.438em) {
.articulo_especial .articulo-cuerpo h3, .articulo_especial .articulo-cuerpo > p, .graficos_textos p {text-align: center;}
.articulo-apoyos .foto + .apoyo-titulo {font-size: 1rem;line-height: 1.175rem;}
}





@media screen and (min-width: 22.5625rem){ /* 361PX */

  .graficos {
    /*width: 110%;
    margin-left: -5%;
    margin-right: -5%;*/
    width: calc(100% + 1.25rem);
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
   /*.graficos .graficos_imagenes {height: 100vh;}*/




}

@media screen and (min-width: 48rem){ /* 768PX */

  .graficos {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }


}

@media screen and (min-width: 64rem){ /* 1024PX */
  
  .graficos .graficos_imagenes img {
    bottom: auto;
    top: 0;
    right: 0;
  }
  .graficos .graficos_imagenes .graficos_imagenes_1 img,
  .graficos .graficos_imagenes .graficos_imagenes_2 img,
  .graficos .graficos_imagenes .graficos_imagenes_3 img,
  .graficos .graficos_imagenes .graficos_imagenes_4 img,
  .graficos .graficos_imagenes .graficos_imagenes_5 img,
  .graficos .graficos_imagenes .graficos_imagenes_6 img,
  .graficos .graficos_imagenes .graficos_imagenes_7 img {
    bottom: auto;
    top: 0;
    width: 65%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .graficos_textos div {
    justify-content: center;
    width: 21rem;
    margin-left: 5rem;
    padding: 0;
  }
  
}

@media screen and (min-width: 85.375rem){ /* 1366PX */
  
  .graficos_textos p {
    font-size: 1.255rem;
    max-width: none;
    background-color: white;
    padding: 5%;
    margin-top: 0;
  }
  
  .graficos_textos div {
    width: 25rem;
  }
  
  .graficos .graficos_imagenes img {
    max-width: 42rem;
  }
  
}

@media screen and (min-width:112.5rem){ /* 1800PX */
  
  .graficos .graficos_imagenes img {
    max-width: 42rem;
  }
}
.graficos_imagenes div,
.graficos_textos div {
  height: 90vh;
}

</style>

<section class="graficos" id="graficos">
  <div class="graficos__inner">
  <div class="graficos_imagenes">
    <div class="graficos_imagenes_1">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/01.jpg?=1">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/01.jpg?=1">
      </picture>
    </div>
    <div class="graficos_imagenes_2">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/02.jpg?=1">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/02.jpg?=1">
      </picture>
    </div>
    <div class="graficos_imagenes_3">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/03.jpg?=1">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/03.jpg?=1">
      </picture>
    </div>
    <div class="graficos_imagenes_4">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/04.jpg?=1"> 
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/04.jpg?=1">
      </picture>
    </div>
    <div class="graficos_imagenes_5">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/05.jpg?=2">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/05.jpg?=1">
      </picture>
    </div>
    <div class="graficos_imagenes_6">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/06.jpg?=3">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/06.jpg?=2">
      </picture>
    </div>
    <div class="graficos_imagenes_7">
      <picture>
        <source media="(min-width: 768px)" srcset="//elpais.com/infografias/2019/10/exhumacion-franco/img/07.jpg?=2">
        <img src="//elpais.com/infografias/2019/10/exhumacion-franco/img/07.jpg?=2">
      </picture>
    </div>
  </div><!-- === .graficos_imagenes === -->

  <div class="graficos_textos">
    <div class="graficos_textos_1">
      <p>
        La sepultura está cubierta por <strong>una losa de granito de 1.500 kilos</strong>. Para iniciar la apertura se retira el material que mantiene sellada la losa en el pavimento.  
      </p>
    </div>
    <div class="graficos_textos_2">
      <p>
        Se retiran las <strong>dos losas de los testeros de mármol</strong> y se abren dos agujeros que facilitan la elevación de la lápida con gatos hidráulicos.
      </p>
    </div>
    <div class="graficos_textos_3">
      <p>
        Elevada la lápida, se introducen <strong>rodillos de acero liso</strong> para facilitar el desplazamiento del bloque de granito.</p>
    </div>
    <div  class="graficos_textos_4">
      <p>
        <strong>Retirada de la losa</strong> y apertura completa de la tumba. La piedra se retira con ayuda de una carretilla mecánica.</p>
    </div>
    <div  class="graficos_textos_5">
      <p>
        El féretro se izará hasta su salida del sepulcro. En esta operación estará presente <strong>un forense que supervisará el estado de la caja</strong> donde se encuentran <span>los restos de Franco.</span> Además, dentro de la carpa, estarán dos familiares de Franco, la ministra de Justicia, el secretario de Presidencia, el subsecretario de vicepresidencia y entre cuatro y seis operarios de la funeraria. </p>
    </div>
    <div class="graficos_textos_7">
      <p>
        El proceso de retirada de la losa y extracción del <span>féretro</span> dura entre <strong>una y tres horas</strong> y se realiza con una protección que impida que se puedan tomar imágenes.</p>
    </div>
  </div><!-- === .graficos_textos === -->
  </div><!-- === graficos__inner === -->
</section><!-- === .graficos === -->
<script type="text/javascript" src="https://elpais.com/js/especiales/v1.x/v1.0/jquery-1.12.3.min.js"></script>
<script>


$(window).on('scroll', function() {
  
  var scroller = $(this).scrollTop(),
      $graficos = $('#graficos'),
      graficosPosicion = $graficos.offset().top,
      graficosAltura = $graficos.outerHeight(),
      ventanaAltura = $(window).height(),
      offset = ventanaAltura * 0.23,

      grafico1 = graficosPosicion,
      grafico1 = grafico1 - offset,

      grafico2 = graficosPosicion + ventanaAltura,
      grafico2 = grafico2 - offset,

      grafico3 = graficosPosicion + (ventanaAltura * 1.5),
      grafico3 = grafico3 - offset,

      grafico4 = graficosPosicion + (ventanaAltura * 2.3),
      grafico4 = grafico4 - offset,

      grafico5 = graficosPosicion + (ventanaAltura * 3.1),
      grafico5 = grafico5 - offset,

      grafico6 = graficosPosicion + (ventanaAltura * 3.9),
      grafico6 = grafico6 - offset,

      grafico7 = graficosPosicion + (ventanaAltura * 4.1),
      grafico7 = grafico6 - offset,

      imagenVisible = 'graficos_imagenes_1';
      

  $('.graficos_imagenes div').removeClass('ocultar');
  if ( scroller < grafico2 ){ imagenVisible = 'graficos_imagenes_1'; }
  if ( scroller > grafico2 && scroller < grafico3){ imagenVisible = 'graficos_imagenes_2'; }
  if ( scroller > grafico3 && scroller < grafico4){ imagenVisible = 'graficos_imagenes_3'; }
  if ( scroller > grafico4 && scroller < grafico5){ imagenVisible = 'graficos_imagenes_4'; }
  if ( scroller > grafico5 && scroller < grafico6){ imagenVisible = 'graficos_imagenes_5'; }
  if ( scroller > grafico5 && scroller < grafico6){ imagenVisible = 'graficos_imagenes_6'; }
  if ( scroller > grafico6){ imagenVisible = 'graficos_imagenes_7'; }

  $('.graficos_imagenes div:not(.'+imagenVisible+')').addClass('ocultar');
  
  if ( scroller > graficosPosicion) {

    if ( scroller < (graficosPosicion + (graficosAltura - ventanaAltura)) ){
      $graficos.attr('class', 'graficos fija');
    } else {
      $graficos.attr('class', 'graficos absoluta');
    }

  } else {
    $graficos.attr('class', 'graficos');
  }

});
</script>
