<div class="articulo-apertura ">
    <figure class="foto superior foto_w980" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img onload="lzld(this)" src="//ep00.epimg.net/t.gif" data-src="//ep01.epimg.net/elpais/imagenes/2019/10/21/media/1571679058_681727_1571679587_noticia_normal.jpg" width="980" height="665"  srcset="//ep00.epimg.net/t.gif 200w" data-srcset="//ep01.epimg.net/elpais/imagenes/2019/10/21/media/1571679058_681727_1571679588_noticia_normal_recorte1.jpg 1960w, //ep01.epimg.net/elpais/imagenes/2019/10/21/media/1571679058_681727_1571679588_noticia_normal_recorte2.jpg 720w, //ep01.epimg.net/elpais/imagenes/2019/10/21/media/1571679058_681727_1571679587_noticia_normal.jpg 980w"   alt="exhumacion franco" />
        <meta itemprop="width"    content="980">
        <meta itemprop="height"   content="665">
        <meta itemprop="url"      content="https://ep01.epimg.net/elpais/imagenes/2019/10/21/media/1571679058_681727_1571679587_noticia_normal.jpg">
        <meta itemprop="representativeOfPage" content="true">
    </figure>
    <div class="firma ">
        <div class="autor" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
            <div class="autor-texto">
<span class="autor-nombre" itemprop="name">
<a itemprop="url" href="https://elpais.com/autor/artur_galocha_vallejo/a/" title="Ver todas las noticias de Artur Galocha">Artur Galocha</a>
</span>
            </div>
        </div>
        <div class="autor" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
            <div class="autor-texto">
<span class="autor-nombre" itemprop="name">
<a itemprop="url" href="https://elpais.com/autor/antonio_alonso/a/" title="Ver todas las noticias de Antonio Alonso">Antonio Alonso</a>
</span>
                <div class="autor-perfiles">
                    <ul class="autor-perfiles-listado">
                        <li><a class="boton_twitter" itemprop="sameAs" href="http://twitter.com/#!/aalonsobe" rel="nofollow" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="autor" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
            <div class="autor-texto">
<span class="autor-nombre" itemprop="name">
<a itemprop="url" href="https://elpais.com/autor/fernando_hernandez_puente/a/" title="Ver todas las noticias de Fernando Hernández">Fernando Hernández</a>
</span>
                <div class="autor-perfiles">
                    <ul class="autor-perfiles-listado">
                        <li><a class="boton_twitter" itemprop="sameAs" href="https://twitter.com/fhernandez" rel="nofollow" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="autor" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
            <div class="autor-texto">
<span class="autor-nombre" itemprop="name">
<a itemprop="url" href="https://elpais.com/autor/mariano_zafra/a/" title="Ver todas las noticias de Mariano Zafra">Mariano Zafra</a>
</span>
                <div class="autor-perfiles">
                    <ul class="autor-perfiles-listado">
                        <li><a class="boton_twitter" itemprop="sameAs" href="https://twitter.com/mariano_zafra" rel="nofollow" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="autor" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
            <div class="autor-texto">
<span class="autor-nombre" itemprop="name">
<a itemprop="url" href="https://elpais.com/autor/natalia_junquera/a/" title="Ver todas las noticias de Natalia Junquera">Natalia Junquera</a>
</span>
                <div class="autor-perfiles">
                    <ul class="autor-perfiles-listado">
                        <li><a class="boton_twitter" itemprop="sameAs" href="http://twitter.com/#!/nataliajunquera" rel="nofollow" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="articulo-datos">
        <time datetime="2019-10-24T17:08:08+02:00" class="articulo-actualizado">
            <meta content="2019-10-21T19:30:58+02:00" itemprop="datePublished">
            <meta content="2019-10-24T17:08:08+02:00" itemprop="dateModified">
            <a href="//elpais.com/tag/fecha/20191024 " title="Ver todas las noticias de esta fecha">
                24 OCT 2019 - 17:08					<abbr title="Central European Summer Time">CEST</abbr>				</a>
        </time>
    </div>
    <div class="articulo-introduccion" id="articulo-introduccion">
        <p>Tras 44 años en el Valle de los Caídos los restos de Franco son extraídos de su tumba. En aplicación de la Ley de Memoria Histórica, el féretro del dictador será trasladado al cementerio de Mingorrubio-El Pardo.</p>
    </div>
</div>