<header class="articulo-encabezado " id="articulo-encabezado">
    <div class="articulo-encabezado-texto">
        <div class="articulo-antetitulo ">
            <a class="enlace" href="//elpais.com/tag/exhumacion_francisco_franco/a">EXHUMACIÓN DE FRANCO</a>
        </div>
        <div class="articulo-titulares" id="articulo-titulares">
            <h1 class="articulo-titulo " id="articulo-titulo" itemprop="headline">La exhumación de
                Franco, paso a paso</h1>
            <meta itemprop="url" content="https://elpais.com/elpais/2019/10/21/media/1571679058_681727.html">
            <div class="articulo-subtitulos"><h2 itemprop="alternativeHeadline" class="articulo-subtitulo">Tras 44 años en el Valle de los Caídos los restos de Franco son extraídos de su tumba. En aplicación de la Ley de Memoria Histórica, el féretro del dictador será trasladado al cementerio de Mingorrubio-El Pardo.</h2>
            </div>                         </div>
    </div>
    <aside class="compartir" id="compartir_superior">
        <div class="compartir__interior">
            <div class="compartir-social" id="compartir_social">
                <button class="boton_facebook" id="superior_fb"><span class="boton-nombre">Compartir en Facebook</span> </button>
                <button class="boton_twitter" id="superior_twit"><span class="boton-nombre">Compartir en Twitter</span> </button>
                <div class="compartir-otros" id="compartir-otros_sup">
                    <button class="boton_compartir-otros" id="boton_compartir-otros_sup">Otros</button>
                    <div class="compartir-otros__interior">
                        <button class="boton_cerrar" id="cerrar_compartir-otros_sup">Cerrar</button>
                        <button class="boton_linkedin" id="superior_linkedin">Compartir en Linkedin</button>
                        <button class="boton_pinterest" id="superior_pinit">Compartir en Pinterest</button>
                    </div>
                </div>
                <a href="#comentarios" id="boton_comentarios" class="boton_comentarios"><span class="boton-nombre">Ver comentarios</span> <span id="num_comentarios_header_compartir_1571686319-9dce80b65e3da7c77c6682383d945d51" class="boton-contador">75</span></a>
            </div>
            <div class="compartir-varios">
                <div class="favoritos" id="favoritos"><a href="https://plus.elpais.com/conectar?backURL=https%3A%2F%2Felpais.com%2Felpais%2F2019%2F10%2F21%2Fmedia%2F1571679058_681727.html&amp;o=FAV" id="boton_favoritos" class="boton_favoritos" title="Tienes que estar registrado en EL PAÍS y haber iniciado sesión para poder guardar en favoritos">Conéctate</a></div>
                <div class="correo" id="correo"> <button class="boton_correo" id="superior_enviar">Enviar por correo</button></div>
                <button class="boton_imprimir" id="boton_imprimir"><span class="nombre">Imprimir</span></button>
            </div>
        </div>
        <script>
            if(typeof EPETMail != "undefined")       new EPETMail ( document.getElementById('superior_enviar'), document.getElementById('superior_capaEnviarCorreo'));
            if(typeof EPETTwitter != "undefined")    new EPETTwitter ( document.getElementById('superior_twit'), params );
            if(typeof EPETFacebook != "undefined")   new EPETFacebook ( document.getElementById('superior_fb'), params );
            if(typeof EPETLinkedin != "undefined")   new EPETLinkedin ( document.getElementById('superior_linkedin'), params );
            if(typeof EPETPinterest != "undefined")  new EPETPinterest ( document.getElementById('superior_pinit'), params );
        </script>
    </aside>
</header>