<style>

#sumario_8\|include {width: 100%;max-width: 640px;margin: 0 auto;}
#sumario_6\|foto.sumario_foto.centro .foto_w980, #sumario_5\|foto.sumario_foto.centro .foto_w980 {width: 100%;max-width: 640px;margin: 0 auto;}

.articulo_especial .articulo-tags, .articulo_especial .articulo-localizador, .articulo_especial .articulo-apoyos, .articulo_especial .articulo-comentarios {border-top: 0.063rem solid #666666;margin-bottom: 5.875rem;margin-left: auto;margin-right: auto;float: none;}



.articulo_especial .destacada img, .articulo_especial .superior img {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}



@media (min-width: 48rem){ /* 768PX */
  
  
  .articulo_especial .articulo__contenedor {
    max-width: none; /* quitamos el ancho al cuerpo del contenedor para que se expanda todo */
    margin-top: 0;
  }

  .articulo_especial .articulo-trust,
  .articulo_especial #compartir_inferior,
  .articulo_especial #articulo-tags,
  .articulo_especial .articulo-cuerpo > p,
  .articulo_especial .articulo-cuerpo > ol,
  .articulo_especial .articulo-cuerpo > ul,
  .articulo_especial .articulo-cuerpo > h1,
  .articulo_especial .articulo-cuerpo > h2,
  .articulo_especial .articulo-cuerpo > h3,
  .articulo_especial .articulo-cuerpo > h4,
  .articulo_especial .articulo-cuerpo > .texto_grande,
  .articulo-cuerpo > section:not(.sumario_include):not(.sumario_foto):not(.sumario_despiece),
  .articulo_especial .articulo-cuerpo blockquote,
  .articulo_especial .articulo-cuerpo .publi_luto_vertical  {
    max-width: 40rem; /* le ponemos el ancho a los párrafos */
    margin-left: auto;
    margin-right: auto;
  }
  
  .articulo-cuerpo > section.sumario_foto {
    width: calc(100% - 10rem);
    max-width: 57.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media (min-width: 62.5rem){ /* 1000PX */
  
  .ocultar-escritorio {
    display: none;
  }

  .ocultar-movil {
    display: block;
  }
  
  .infografias_pestanas .ocultar-movil {
    display: inline-block;
  }

  .sumario_foto img {
    width: 100%;
  }
  
  .articulo_especial .sumario_foto.centro .foto_w980,
  .articulo_especial .articulo__contenedor > .foto.foto_w980,
  .articulo_especial .sumario_foto .foto {
    margin-left: auto;
    margin-right: auto;
  }
    
  .articulo_especial .articulo-cuerpo blockquote {
    margin: 4.25rem auto;
  }
  
  .articulo_especial .articulo-cuerpo blockquote p:not(.autor_cita) {
    font-size: 2.1875rem;
    line-height: 122%;
  }

  .articulo-cuerpo .autor_cita { padding-top: 1.625rem; }
  

  
  .articulo_especial .articulo-cuerpo > .texto_grande {
    font-size: 4.375rem;
    margin-bottom: 7rem;
    padding: 0 3rem;
  }
  
  .articulo_especial .articulo-cuerpo > .texto_grande {
    font-size: 1.5rem;
    padding: 2rem 3.125rem;
  }



.ocultar-movil {
  display: none;
}
.ocultar-escritorio {
  display: block;
}

@media (min-width:48rem){ /* 768PX */
  .ocultar-movil {
    display: block;
  }
  .ocultar-escritorio {
    display: none;
  }
}



</style>





<script src="//ep00.epimg.net/js/especiales/v1.x/v1.0/jquery-1.12.3.min.js"></script>  
<script>



</script>