 <!-- <bloque4> -->
    <p>En esos 260 metros que separan el crucero de la salida de la basílica pasarán por delante de los osarios con los restos de más de 33.800 personas enterradas y de la tumba de José Antonio Primo de Rivera.</p>
    <h3>&nbsp;</h3>
    <!-- <bloque4> -->