 <!-- <bloque2> -->
    <p>Dentro del ataúd, de madera, hay una caja de zinc. Dependiendo del estado en que se encuentre y según las indicaciones del forense pueden darse tres escenarios.</p>
    <!-- <bloque2> -->