   <!-- <bloque8> -->
    <h3>3. Reinhumación</h3>
    <p>La nueva sepultura del dictador está situada en la cripta donde fue enterrada su esposa, Carmen Polo, en 1988.&nbsp;<span>El Gobierno ha invertido 39.800 euros en su acondicionamiento, ya que estaba "en mal estado", según fuentes de La Moncloa. Ha colocado nuevas rejas, una puerta blindada y sensores de movimiento.</span></p>
    <!-- <bloque8> -->